<div class="large-12 medium-12 small-12 columns">
  <h1>List of Equipment at FKI</h1>

  <div class="row">
    <% @equipments.each do |equipment| %>
      <div class="large-4 medium-4 small-8 columns">
        <%= image_tag equipment.try(:image) %> <br />
        <div class="row">
          <div class="large-8 medium-6 small-12 columns">
            <%= equipment.name %>
          </div>
          <div class="large-4 medium-6 small-12 columns">
            <%= link_to 'Book Now', new_booking_path(equipment_id: equipment), class: 'button small' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>  
</div>
